* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #1a73e8,
  #72baff);
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .container {
  max-width: 450px;
  background: #fff;
  color: #333;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .dark-mode {
  background-color: #333;
  color: white;
  }